<div class="place_card">
  <a href="/<%= place.placeType %>/<%= place.placeName.toLowerCase() %>">
    <img
      src="<%= place.imageUrl %>"
      alt="<%= place.placeName %>"
      width="500px"
      height="350px"
    />
  </a>
  <div class="place_content">
    <h3><%= place.placeName %></h3>
    <p>
      <%= place.placeDes.length > 150 ? place.placeDes.substring(0, 150) + '...'
      : place.placeDes %>
    </p>
  </div>
</div>
