<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    
    <% if (locals.pageClass && locals.title && locals.description){ %>
    <main class="<%= pageClass %>">
      <div class="<%= pageClass %>_overlay"></div>
      <div class="<%= pageClass %>_wrapper">
        <h1><%= title %></h1>
        <p><%= description %></p>
        <button
          class="page_button"
          onclick="window.location.href = '/'"
        >Goto Home ←
        </button>
      </div>
    </main>
    <% }else{ %>
      <p>Page data was not found</p>
    <% } %>

    <section class="page_section">
      <% if (locals.filteredPlaces && filteredPlaces.length > 0) { %>
        <% filteredPlaces.forEach((place) => { %>
        <%- include('../partials/place-card.ejs', { place }) %>
      <% }) %>
      <% } else { %>
        <p>No places found.</p>
      <% } %>
    </section>
    <%- include('../partials/footer') %>
  </body>
</html>
